body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url("bg_home.webp"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; /*no tiling*/
    height: 100vh; 
    color: white;
}

.container 
{
    margin:  50px auto;
    max-width: 600px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    padding: 20px;
}

h1 
{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
}


.message  /*message*/
{
    font-size: 1.2rem;
    color: #ccc;
    margin-bottom: 20px;
}


.dropdown select /*Dropdown*/
{
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
}

.dropdown select:hover 
{
    border-color: white;
} 