body 
{
    margin: 0; /*if m,p is not used then the text and button are not tight bound*/
    padding: 0;
    background-image: url('bg_marble.avif');
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto; 
    font-family: Apple Chancery, cursive ;
}

.content-wrapper /*First div of the page for heading and buttons*/
{
    width: 95%; 
    margin: auto; 
    height: auto;
}

header /*tag*/
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    width: 100%; 
}

.leftStlye-div /*div of header*/
{
    margin-left: auto;
}


h1 /*heading of div 1*/
{
    color: whitesmoke;
    font-size: 35px;
    text-decoration: underline;
    
}


.common-style /*Mute music button and home button styling*/
{
    padding: 5px 10px; /*height, width padding*/
    background-color:  #eb800e; /*background for the button*/
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}


.common-style:hover 
{
    background-color: #504faa; /* purple on hover */
}


.game-container /*This is the main div, dividing in further two divs*/
{ 
    display: flex;
    justify-content: space-between;
    margin: 20px;
    height: 100%;
}


.input-container /*User input div*/
{  
    margin-top: 60px;
    width: auto;
    height: 40%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #e3dad6f1;
    text-align: center;
}


.mgs-indicator /* heading, player switching and column full mgs */
{
    text-align: center;
    color: white; 
}


#message
{
    color: white;    
}


.board-container /*gameboard div*/
{
    margin-top: auto;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center; /*for diplaying the table in the center of assigned h,w*/
    align-items: center; /*for displaying created table content (circles) in the center */
}


.board
{
    display: grid;
    grid-gap: 2px;
}


.cell 
{

    width: 60px; 
    height: 60px;
    border: 3px solid #eb800e; 
    background-size: cover;
}